In [1]:
from urllib.request import urlopen
import requests
import json
import pandas as pd
from pandas import DataFrame
import datetime

## get data

### driver

In [2]:
driver = pd.DataFrame(requests.get('https://api.openf1.org/v1/drivers').json())

/lib/python3.11/site-packages/urllib3/connectionpool.py:1101: InsecureRequestWarning: Unverified HTTPS request is being made to host 'api.openf1.org'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

In [3]:
#cols_driver = ["driver_number", "meeting_key", "session_key", "full_name", "team_name"]

In [4]:
#driver = driver[cols_driver]

## data check

### driver

In [5]:
driver.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3143 entries, 0 to 3142
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   driver_number   3143 non-null   int64
 1   broadcast_name  3143 non-null   object
 2   full_name       3143 non-null   object
 3   name_acronym    3143 non-null   object
 4   team_name       2186 non-null   object
 5   team_colour     2186 non-null   object
 6   first_name      2186 non-null   object
 7   last_name       2186 non-null   object
 8   headshot_url    2124 non-null   object
 9   country_code    2186 non-null   object
 10  session_key     3143 non-null   int64
 11  meeting_key     3143 non-null   int64
dtypes: int64(3), object(9)
memory usage: 184.2+ KB

In [6]:
driver[driver["team_name"].isnull() == True]

,driver_number,broadcast_name,full_name,name_acronym,team_name,team_colour,first_name,last_name,headshot_url,country_code,session_key,meeting_key
40,20,K MAGNUSSEN,Kevin MAGNUSSEN,MAG,None,None,None,None,None,None,9222,1140
133,1,M VERSTAPPEN,Max VERSTAPPEN,VER,None,None,None,None,None,None,7953,1141
134,2,L SARGEANT,Logan SARGEANT,SAR,None,None,None,None,None,None,7953,1141
135,4,L NORRIS,Lando NORRIS,NOR,None,None,None,None,None,None,7953,1141
136,10,P GASLY,Pierre GASLY,GAS,None,None,None,None,None,None,7953,1141
...,...,...,...,...,...,...,...,...,...,...,...,...
2202,55,C SAINZ,Carlos SAINZ,SAI,None,None,None,None,None,None,9192,1226
2203,63,G RUSSELL,George RUSSELL,RUS,None,None,None,None,None,None,9192,1226
2204,77,V BOTTAS,Valtteri BOTTAS,BOT,None,None,None,None,None,None,9192,1226
2205,81,O PIASTRI,Oscar PIASTRI,PIA,None,None,None,None,None,None,9192,1226
2858,50,O BEARMAN,Oliver BEARMAN,BEA,None,None,None,None,None,None,9508,1235

In [7]:
driver[driver["full_name"] == "Max VERSTAPPEN"]

,driver_number,broadcast_name,full_name,name_acronym,team_name,team_colour,first_name,last_name,headshot_url,country_code,session_key,meeting_key
0,1,M VERSTAPPEN,Max VERSTAPPEN,VER,Red Bull Racing,3671C6,Max,Verstappen,https://www.formula1.com/content/dam/fom-websi...,NED,7763,1140
34,1,M VERSTAPPEN,Max VERSTAPPEN,VER,Red Bull Racing,3671C6,Max,Verstappen,https://www.formula1.com/content/dam/fom-websi...,NED,9222,1140
53,1,M VERSTAPPEN,Max VERSTAPPEN,VER,Red Bull Racing,3671C6,Max,Verstappen,https://www.formula1.com/content/dam/fom-websi...,NED,7765,1141
73,1,M VERSTAPPEN,Max VERSTAPPEN,VER,Red Bull Racing,3671C6,Max,Verstappen,https://www.formula1.com/content/dam/fom-websi...,NED,7766,1141
93,1,M VERSTAPPEN,Max VERSTAPPEN,VER,Red Bull Racing,3671C6,Max,Verstappen,https://www.formula1.com/content/dam/fom-websi...,NED,7767,1141
...,...,...,...,...,...,...,...,...,...,...,...,...
3043,1,M VERSTAPPEN,Max VERSTAPPEN,VER,Red Bull Racing,3671C6,Max,Verstappen,https://media.formula1.com/d_driver_fallback_i...,NED,9524,1237
3063,1,M VERSTAPPEN,Max VERSTAPPEN,VER,Red Bull Racing,3671C6,Max,Verstappen,https://media.formula1.com/d_driver_fallback_i...,NED,9525,1237
3083,1,M VERSTAPPEN,Max VERSTAPPEN,VER,Red Bull Racing,3671C6,Max,Verstappen,https://media.formula1.com/d_driver_fallback_i...,NED,9526,1237
3103,1,M VERSTAPPEN,Max VERSTAPPEN,VER,Red Bull Racing,3671C6,Max,Verstappen,https://media.formula1.com/d_driver_fallback_i...,NED,9527,1237
3123,1,M VERSTAPPEN,Max VERSTAPPEN,VER,Red Bull Racing,3671C6,Max,Verstappen,https://media.formula1.com/d_driver_fallback_i...,NED,9531,1237

In [8]:
############################################## 결측치 처리

driver['team_name'] = driver.groupby('full_name')['team_name'].transform(lambda x: x.ffill().bfill())
driver['team_colour'] = driver.groupby('team_name')['team_colour'].transform(lambda x: x.ffill().bfill())
driver['first_name'] = driver.groupby('full_name')['first_name'].transform(lambda x: x.ffill().bfill())
driver['last_name'] = driver.groupby('full_name')['last_name'].transform(lambda x: x.ffill().bfill())
driver['headshot_url'] = driver.groupby('full_name')['headshot_url'].transform(lambda x: x.ffill())
driver['country_code'] = driver.groupby('full_name')['country_code'].transform(lambda x: x.ffill().bfill())

In [9]:
driver[driver["full_name"] == "Max VERSTAPPEN"][driver.country_code.isna()]

<ipython-input-9-55644b86e557>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  driver[driver["full_name"] == "Max VERSTAPPEN"][driver.country_code.isna()]

Empty DataFrame
Columns: [driver_number, broadcast_name, full_name, name_acronym, team_name, team_colour, first_name, last_name, headshot_url, country_code, session_key, meeting_key]
Index: []

### to CSV

In [10]:
# driver
driver.to_csv('./driver.csv', sep=',', na_rep='Null', index=False)